{% trans_default_domain 'exchange' %}
{% extends 'form/layout.html.twig' %}

{% block title %}{% trans %}title.show{% endtrans %}{% endblock %}

{% block main %}
    <div class="card">
        <div class="card-header d-flex">
            <h3 class="card-header-title">
                {% trans %}entity{% endtrans %}: {{ exchange.id }}
            </h3>
            <div class="toolbar ml-auto">
                <a href="{{ path('flexphp.quote.exchanges.index') }}" class="btn btn-outline-secondary">
                    <i class="fa fa-list-ol" aria-hidden="true"></i>
                    <span class="btn-text">{% trans from 'messages' %}action.list{% endtrans %}</span>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="form-group"><label>{% trans %}label.date{% endtrans %}</label><div class="form-control-plaintext">{{ exchange.date|date('Y-m-d', app.user.timezone) }}</div></div>
            <div class="form-group"><label>{% trans %}label.currency{% endtrans %}</label><div class="form-control-plaintext">{{ exchange.currency }}</div></div>
            <div class="form-group"><label>{% trans %}label.quote{% endtrans %}</label><div class="form-control-plaintext money-format">{{ exchange.quote }}</div></div>
        </div>

        {# <div class="card-footer"> #}
        {#     <div class="row"> #}
        {#         <div class="col"> #}
        {#             {{ include('@FlexPHPQuote/exchange/_delete_form.html.twig', {exchange: exchange}, with_context = false) }} #}
        {#         </div> #}

        {#         <div class="col text-right"> #}
        {#             <a href="{{ path('flexphp.quote.exchanges.edit', {id: exchange.id}) }}" class="btn btn-outline-primary"> #}
        {#                 <i class="fa fa-edit" aria-hidden="true"></i> #}
        {#                 <span class="btn-text">{% trans from 'messages' %}action.edit{% endtrans %}</span> #}
        {#             </a> #}
        {#         </div> #}
        {#     </div> #}
        {# </div> #}
    </div>
{% endblock %}
